body {
  margin: 0;
}

circle.stop {
  fill: black;
}

circle.stopArea {
  fill: red;
}

circle.trip {
  fill: green;
}

line.link {
  stroke-width: 1;
  stroke: black;
}

div#marey-container {
  overflow-y: scroll;
  float: left;
  display: block;
}

#marey .timeline line, #marey .axis line {
  stroke-width: 1px;
  stroke: black;
  shape-rendering: crispEdges;
}

svg {
  font: 10px sans-serif;
}

#marey #mouse-move-overlay {
  fill-opacity: 0;
}
