{
  "extends": ["airbnb-bundle"],
  "rules": {
    "no-underscore-dangle": ['error', {"allowAfterThis": true}],
    "no-restricted-syntax": ['warn']
  },
  "env": {
    "browser": true
  },
  "globals": {
    "d3": true
  }
}
