{
  "extends": ["airbnb-base"],
  "rules": {
    "no-underscore-dangle": ["off"],
    "no-restricted-syntax": ["off"],
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
      },
    ],
  },
  "env": {
    "browser": true
  }
}
