$stop-fill: black;
$stopArea-fill: red;
$trip-fill: green;
$verticalStops-stroke: lightgray;

html, body {
  margin: 0;
  font: 10px sans-serif;
}

#marey-container {
  overflow-y: scroll;
  float: left;
  display: block;
}

line, path {
  stroke: black;
  stroke-width: 1px;
}

#marey {
  #mouse-move-overlay {
    fill-opacity: 0;
  }

  line {
    &.timeline, &.axis {
      shape-rendering: crispEdges;
    }

  }

  .top-axis {
    path {
      opacity: 0;
    }

    text {
      transform: rotate(270deg);
      text-anchor: start;
    }

    .tick line {
      stroke: $verticalStops-stroke;
    }
  }

  .trip path {
    fill: none;
  }
}

#map {
  g.stopArea circle {
    fill: $stopArea-fill;
  }

  g.stop circle {
    fill: $stop-fill;
  }

  g.trip circle {
    fill: $trip-fill;
  }

  .stop text {
    display: none;
  }

  .stopArea text {
    font-size: 2px;
  }

  .trip text {
    font-size: 3px;
  }
}

