// Global variables
$vehicle-early-color: red;
$vehicle-ontime-color: green;
$vehicle-late-color: orange;

// Map variables
$map-stop-color: black;
$map-stop-area-color: red;
$map-trip-color: green;

// Marey variables
$marey-stop-lines-stroke: lightgray;

@import 'milligram.mod.scss';

svg {
  font-family: sans-serif;
}

select {
  font-size: 12pt;
}

#marey-container {
  position: fixed;
  left: 0;
  top: 0;
}

#map-container {
  position: fixed;
  right: 0;
  top: 0;
}

// Base styling for all lines and paths
svg {
  line, path {
    stroke: black;
    stroke-width: 1;
    fill: none;
  }
}

// Make invisible the overlays used to handle zoom and mouse movement
.overlay-mouse {
  fill-opacity: 0;
}

#marey {
  g.marker text{
    font-family: FontAwesome;
  }

  .marey-scroll {
    rect.selection {
      stroke: black;
    }
    .overlay {
      fill: lightgray;
      fill-opacity: 0.3;
    }
    .scroll-axis g.tick text {
      transform: translate(6px, 0px);
    }
  }

  .marey-stop-selection {
    g.tick {
      circle {
        fill: $map-stop-area-color;
        stroke: black;
      }
      line {
        display: none;
      }
      text {
        transform: translate(8px, 0px);
      }
    }
    rect.selection {
      stroke: black;
    }
    .overlay {
      fill: lightgray;
      fill-opacity: 0.3;
    }
  }

  .timeline {
    text {
      stroke: white;
      paint-order: stroke;
      stroke-width: 5px;
    }
  }

  .top-axis {
    path {
      opacity: 0;
    }

    // Top axis labels are rotated and a white outline
    // is used to make them more visible when on top of other elements
    text {
      transform: rotate(270deg) translate(5px, 6px);
      text-anchor: start;
      paint-order: stroke;
      stroke: white;
      stroke-width: 5;
    }

    g.tick:nth-child(2) {
      text {
        transform: rotate(270deg) translate(5px, 10px);
      }
    }
    g.tick:last-child {
      text {
        transform: rotate(270deg) translate(5px, 2px);
      }
    }

    // Color all the vertical lines representing the stops
    g.tick {
      line {
        stroke: $marey-stop-lines-stroke;
      }
    }
    g.tick.selected {
      line {
        stroke-width: 4;
      }
      text {
        font-weight: bold;
      }
    }
  }

  path.static-sequence {
    stroke: dimgray;
  }

  g.vehicle circle.rt-position {
    &.early {
      fill: $vehicle-early-color;
    }

    &.ontime {
      fill: $vehicle-ontime-color;
    }

    &.late {
      fill: $vehicle-late-color;
    }
  }

  g.vehicle path.rt-sequence {
    &.early {
      stroke: $vehicle-early-color;
    }

    &.ontime {
      stroke: $vehicle-ontime-color;
    }

    &.late {
      stroke: $vehicle-late-color;
    }

    &.prognosed {
      stroke-dasharray: 5, 5;
    }
  }

  g.trip.selected {
    path, line {
      stroke-width: 3;
    }
  }

  g.trip text.tripLabel {
    stroke: white;
    paint-order: stroke;
    stroke-width: 5px;
    text-anchor: middle;
  }
}

#map {
  g.stop, g.stopArea, g.trip {
    text {
      stroke: white;
      paint-order: stroke;
      text-anchor: middle;
      stroke-width: 0.3px;
    }
  }

  g.stop {
    circle {
      fill: $map-stop-color;
    }

    text {
      font-size: 2px;
    }
  }

  g.stopArea {
    circle {
      fill: $map-stop-area-color;
    }

    text {
      font-size: 2px;
    }
  }


  g.trip {
    circle {
      fill: $map-trip-color;
    }

    text {
      font-size: 3px;
    }
  }

  g.vehicle {
    &.early circle {
      fill: $vehicle-early-color;
    }

    &.ontime circle {
      fill: $vehicle-ontime-color;
    }

    &.late circle {
      fill: $vehicle-late-color;
    }
  }
}

.sidebar-wrapper {
  position: relative;
  height: 100%;
  overflow: auto;
  background-color: white;
}

#navbar {
  position: absolute;
  top: 0;
  right: 0;
}

#gui { position: absolute; top: 2px; left: 2px }
