// Global variables
$vehicle-early-color: red;
$vehicle-ontime-color: green;
$vehicle-late-color: orange;

// Map variables
$map-stop-color: black;
$map-stop-area-color: red;
$map-trip-color: green;

// Marey variables
$marey-stop-lines-stroke: lightgray;

// Remove margins from the body, set base font
html, body {
  margin: 0;
  font: 10px sans-serif;
}

#marey-container {
  float: left;
  display: block;
  overflow-y: scroll;
}

// Base styling for all lines and paths
svg {
  line, path {
    stroke: black;
    stroke-width: 1;
  }
}

#marey {
  // Make invisible the overlay used to capture cursor position
  #mouse-move-overlay {
    fill-opacity: 0;
  }

  .top-axis {
    path {
      opacity: 0;
    }

    // Top axis labels are rotated and a white outline
    // is used to make them more visible when on top of other elements
    text {
      transform: rotate(270deg) ;
      text-anchor: start;
      paint-order: stroke;
      stroke: white;
      stroke-width: 5;
    }

    // Color all the vertical lines representing the stops
    // except for the first and the last as they overlap the left and right axes
    g.tick:not(:nth-child(2)):not(:last-child) {
      line {
        stroke: $marey-stop-lines-stroke;
      }
    }
  }

  .trip path {
    fill: none;
  }

  g.vehicle circle.position {
    &.early {
      fill: $vehicle-early-color;
    }

    &.ontime {
      fill: $vehicle-ontime-color;
    }

    &.late {
      fill: $vehicle-late-color;
    }
  }

  g.vehicle line.pos-link {
    &.early {
      stroke: $vehicle-early-color;
    }

    &.ontime {
      stroke: $vehicle-ontime-color;
    }

    &.late {
      stroke: $vehicle-late-color;
    }

    &.prognosed {
      stroke-dasharray: 5, 5;
    }
  }
}

#map {
  g.stop, g.stopArea, g.trip {
    text {
      stroke: white;
      paint-order: stroke;
      text-anchor: middle;
      stroke-width: 0.3px;
    }
  }

  g.stop {
    circle {
      fill: $map-stop-color;
    }

    text {
      font-size: 2px;
    }
  }

  g.stopArea {
    circle {
      fill: $map-stop-area-color;
    }

    text {
      font-size: 2px;
    }
  }


  g.trip {
    circle {
      fill: $map-trip-color;
    }

    text {
      font-size: 3px;
    }
  }

  g.vehicle {
    &.early circle {
      fill: $vehicle-early-color;
    }

    &.ontime circle {
      fill: $vehicle-ontime-color;
    }

    &.late circle {
      fill: $vehicle-late-color;
    }
  }
}

